.toolbar {
    background-color: #282c34;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.navItems {
    position: absolute;
    right: 1%;
    top: 50%;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    margin: 0;
    transform: translateY(-50%);
}

.navItems li {
    margin: 0 0.5em;
}

.navItems a {
    color: white;
    text-decoration: none;
}

.headerContainer {
    position: relative;
    width: 15em;
}

.headerContainer > div {
    width: inherit;
}

.headerContainer .editIcon,
.headerContainer .saveIcon {
    position: absolute;
    right: 0;
    font-size: 0.8em;
    top: 5%;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.headerContainer .editIcon {
    transform: scale(0);
}

.headerContainer:hover .editIcon {
    transform: scale(1);
}

.headerContainer input {
    font-size: 1.5em;
    background: no-repeat;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    margin: 0.83em auto;
    width: inherit;
}

.headerContainer input:focus {
    outline: none;
    background: #505050;
    border-radius: 5px;
}

@media (max-width: 750px) {
    .toolbar {
        flex-direction: column;
        height: 100%;
    }
}
