.Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
    z-index: 200;
    padding: 1em;
    min-width: 300px;
}

@media (min-width: 600px) {
    .Modal {
        left: 50%;
    }
}
