.inputContainer {
    width: 100%;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

.inputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    display: block;
    /* width: 100%; */
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0.5em auto 1em auto;
}

.inputElement:focus {
    outline: none2;
    background-color: #ccc;
}

.titleInput {
    padding: 0;
}
